<div class="app-container">
  <header class="app-header">
    <app-hamburger-menu (sectionSelected)="onSectionSelected($event)"></app-hamburger-menu>
    <app-profile-selector (profileSelected)="onProfileSelected($event)"></app-profile-selector>
  </header>
  
  <div class="app-content">
    <app-meal-calculator *ngIf="currentSection === 'plan'" [currentProfile]="selectedProfile"></app-meal-calculator>
    <app-target-setter *ngIf="currentSection === 'config'" [currentProfile]="selectedProfile"></app-target-setter>
  </div>
</div>
